body {
    background:#59A8D9;
    font-family: Arial, Verdana, Helvetica;
}

.assignments {
    display:flex;
    flex-wrap: wrap;
}
.assignment{
    width: 22%;
    padding: 5px;
    margin:10px;
    background: #C2E0F2;
    border-radius: 5px;
}

.assignment img {
    width: 200px;
    height: 200 px;
    margin: 10px;
    display:block;
    margin:auto;
}
.assignment img:hover {
    border: 4px solid #021D40;
}


h1 {
    color: #07254b;
    text-align:center;
}

h2{
    color: #8C704F; 
    text-align:center;
    font-size:medium;
}

a {
    text-decoration: none;
    color:#8C704F;
}

a:hover {
    color: #021D40;
}

h3{
    color: #1252A6;
    font-size: small;
    text-align:center;
}
h3:hover{
    color: #573125;
}