body {
    background:#8FBABF;
    font-family: Arial, Verdana, Helvetica;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background: #b0f7ff;
    border-radius: 5px;
}

.assignment img {
    width:200px;
    margin: 10px;
    border: 4px #224A59;
}
.assignment img:hover {
    border: 4px solid #224A59;
}

h1 {
    color: #8C704F;
    text-align:center;
}
h1:hover {
    color: #224A59;
}

a {
    text-decoration: none;
    color:#8C704F;
}

a:hover {
    color: #224A59;
}